name: End-to-end tests

on: [push]

jobs:
  cypress-run:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout do repositório
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Instalar dependências
        run: npm ci

      - name: Rodar Cypress
        uses: cypress-io/github-action@v6
